.footer{


    background-color:#007BFF;
height: 42px;
 
}
.footer .fo{
    color: white;
margin-top: 5px;
padding: 20px; 
}

.scontainer{
    /* margin:5px;  */
    display:flex;
    flex-wrap:wrap;
}
.scontainer img{

    box-shadow: 3px 3px 3px 3px #007BFF;
}
